{% extends "::base.html.twig" %}

{% block body %}
<div id="header">
    <nav id="gsn-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Boton que despliega el menu en pantallas pequeñas -->
                <button id="gsn-btn-nav-menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gsn-nav-menu">
                    <span class="sr-only">Menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>Gesen v1</strong></a>
            </div>
            <!-- Barra contenedora del menu -->
            <div id="gsn-nav-menu" class="collapse navbar-collapse navbar-right">
            <ul id="gsn-nav-menu-links" class="nav navbar-nav">
                <li class="gsn-active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="gsn-nav-menu-sesion" class="nav navbar-nav">
                <li class="dropdown"{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}  style="display:none;"{% endif %}>
                    <!-- Formulario login -->  
                    <a href="#" class="gsn-dropdown-login" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span><span class="gsn-user-perfil-name"> Login</span>
                    </a>
                    <div id="gsn-nav-menu-form" class="dropdown-menu dropdown-menu-right" role="menu">
                        <!--Panel desplegable contenedor del formulario de login -->{% block login %}{% include 'CosacoGesenBundle:Seguridad:login_form.html.twig' with {'error':'', 'last_username':''} %}{% endblock %}
                    </div>
                </li>
                <li class="dropdown"{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}  style="display:none;"{% endif %}>
                    <!-- Menu de usuario -->
                    <a href="#" class="gsn-dropdown-user" data-toggle="dropdown" role="button" aria-expanded="false" data-user_id="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ app.user.id }}{% else %}0{% endif %}">
                        <span class="gsn-user-perfil-name">Hola </span><span>{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ app.user.primerNombre }}{% endif %}</span> <span class="glyphicon glyphicon-chevron-down"></span>                            
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <!-- Menu desplegable del usuario -->
                        <li><a href="#">Perfil</a></li>
                        <li class="gsn-cerrar-sesion"><a href="{{ path('gsn_logout') }}">Cerrar sesión</a></li>
                    </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse --> 
        </div>
    </nav>                       
</div>   
<div id="body">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div class="gesen-logo">
                    <img src="{{ asset('img/cosaco_md.png') }}" />
                </div>
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="#">Nav item</a></li>
                    <li><a href="#">Nav item again</a></li>
                    <li><a href="#">One more nav</a></li>
                    <li><a href="#">Another nav item</a></li>
                    <li><a href="#">More navigation</a></li>
                </ul>
            </div>        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">   
        <!-- bloque contenido -->{% block cont_derecha %}
{% endblock %}
        </div> 
    </div>
</div>
        
    {{ dump(app.user) }}
{% endblock %}
    
    