
{# {% form_theme form 'bootstrap_3_layout.html.twig' %} #}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} 

{% block body %}
              
<!-- Modal -->
<div class="modal fade" id="detalleReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger" style="border-radius: 5px 5px 0 0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Reserva</h4>
            </div>
            <div class="modal-body" style="min-height: 200px;">

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Día</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Lote</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" style="margin-top:20px;">

                        <div role="tabpanel" class="tab-pane active" id="home">    

                            <!-- comienzo del formulario -->
                            {{ form_start(form, {'attr' : {'id' : 'gsn-form-editar-reserva'} }) }}{{ form_errors(form) }}
                
                            <!-- select tipo reservas -->
                            <div class="form-group gsn-tipo-reserva-cmb">{{ form_label(form.tipoReserva, "Reserva: ") }}{{ form_errors(form.tipoReserva) }}<div class="col-sm-10">{{ form_widget(form.tipoReserva,{'attr' : {'class': 'gsn-cmb-tipo-reserva'} }) }}</div><div class="clearfix"></div></div>
                    
{% if form.asignatura is defined %}
                            <!-- select asignatura -->
                            <div class="form-group">{{ form_label(form.asignatura) }}{{ form_errors(form.asignatura) }}<div class="col-sm-10">{{ form_widget(form.asignatura) }}</div><div class="clearfix"></div></div>

                            <!-- select curso -->
                            <div class="form-group">{{ form_label(form.curso) }}{{ form_errors(form.curso) }}<div class="col-sm-10">{{ form_widget(form.curso) }}</div><div class="clearfix"></div></div>
{% endif %}

{% if form.taller is defined %}
                            <!-- select taller -->
                            <div class="form-group gsn-option gsn-taller-cmb">{{ form_label(form.taller) }}{{ form_errors(form.taller) }}<div class="col-sm-10">{{ form_widget(form.taller) }}</div><div class="clearfix"></div></div>
{% endif %}       
{% if form.dias[0] is defined %}
                            <!-- ingreso actividad -->
                            <div class="form-group">{{ form_label(form.dias[0].actividadReserva) }}{{ form_errors(form.dias[0].actividadReserva) }}<div class="col-sm-10">{{ form_widget(form.dias[0].actividadReserva) }}</div><div class="clearfix"></div></div>

                            <!-- ingreso observación -->
                            <div class="form-group">{{ form_label(form.dias[0].observacionReserva) }}{{ form_errors(form.dias[0].observacionReserva) }}<div class="col-sm-10">{{ form_widget(form.dias[0].observacionReserva) }}</div><div class="clearfix"></div></div>
{% endif %}
                            <!-- submit -->
                            <div style="border-bottom: 1px solid #ddd; margin-bottom: 15px;"></div>
                            <div class="form-group" style="margin-bottom:0;"><div class="col-sm-2"><button class="gsn-prevent-validation btn btn-primary pull-left"><span class="glyphicon glyphicon-print"></span></button></div><div class="col-sm-10"><button type="submit" class="btn btn-success pull-right" id="{{ form.vars.id }}_submit" name="{{ form.vars.name }}[submit]"><span class="glyphicon glyphicon-floppy-save"></span> Guardar</button><button id="gsn-close-editar-reserva" class="gsn-prevent-validation btn btn-default pull-right" style="margin-right: 5px;">Cerrar</button></div></div>

                            {{ form_widget(form.dias, {'attr' : {'style' : 'display:none !important; margin:0 !important;'} }) }}
                            {{ form_end(form) }}
                            
                        </div>    
                        <div role="tabpanel" class="tab-pane" id="profile"></div>
                    </div>
                </div>          
            </div>
        </div>
    </div>        

 
<script>
        
    $('document').ready(function(){
        
        $('body').on('click', '.gsn-prevent-validation', function(ev){ ev.preventDefault(); });
         
        
        $('#gsn-form-editar-reserva').submit(function(ev){
            
            ev.preventDefault();
            
            var form = $(this);
            
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serializeArray(),
                dataType: 'json',
                success: function(data) {
               //     console.log(data);
                }
            });
              
        });
              
        /*
         * Cargamos dinamicamente los combos al seleccionar el tipo de reserva
         */
        var cmb=$('.gsn-cmb-tipo-reserva');

        cmb.change(function(){
            
            var form=$(this).closest('form');
            var form_name=form.attr('name');
            
            //console.log(form_name);
            
            var data = {};
            data[cmb.attr('name')]=cmb.val();
            
            $('select[name="'+form_name+'[asignatura]"]').closest('.form-group').remove();
            $('select[name="'+form_name+'[curso]"]').closest('.form-group').remove();
            $('select[name="'+form_name+'[taller]"]').closest('.form-group').remove();
                         
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: data,
                success: function(html) {
                    
        

                    if(cmb.prop('selectedIndex')===0) {
                        var asignatura = $(html).find('select[name="'+form_name+'[asignatura]"]').closest('.form-group');
                        var curso = $(html).find('select[name="'+form_name+'[curso]"]').closest('.form-group');

                        curso.insertAfter('.gsn-tipo-reserva-cmb');
                        asignatura.insertAfter('.gsn-tipo-reserva-cmb');

                    }
                  
                    if(cmb.prop('selectedIndex')===1) {                  
                        
                        var taller = $(html).find('select[name="'+form_name+'[taller]"]').closest('.form-group');

                        taller.insertAfter('.gsn-tipo-reserva-cmb');
                    }
                   
                }
            })
            
        });
        
    });
        
    </script>
        
</div>          
          
          
          

      
      
      
      
      
      
      
      
      
      
      
      
  
        
        
        
        
        
        
        
        
          
          
          
          
          
          
          
          
          
          

          
          
          
    
    

          
          
          
          
          
          
          
          

          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          

   
   
   
   

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
     

        
{% endblock %}
